nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

nav.location-header {
    
}

nav.location-footer {
    font-size: 0.7em;
}

nav ul {
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.8em;
}

nav li {
    list-style: none outside;
    margin: 0.2em;
    display: flex;
}

nav a {
    border: var(--color-border-main);
    padding: 0.5em 1em;
}

nav a:hover,
nav li.selected a {
    color: var(--color-border-default);
    font-weight: 700;
    border-color: var(--color-border-default);
}

nav a:focus,
nav li.selected a:focus {
    color: var(--color-border-default);
    border-color: var(--color-links-default);
    outline: none;
}

.site-footer nav a,
.site-footer nav .selected a {
    border: 0;
    margin: 0;
    border-right: var(--color-border-main);
}

.site-footer nav li:last-child a {
    border-right: none;
}