@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i,900,900i|Questrial&display=swap");
:root {
  --font-size-main: 16px;
  --font-size-big: calc(var(--font-size-main) + 2px);
  --font-size-bigger: calc(var(--font-size-main) + 4px);
  --font-size-biggest: calc(var(--font-size-main) + 6px);
  --layout-main-width: 50em;
  --background-color-body-default: linear-gradient(90deg, rgba(224,9,9,1) 0%, rgba(252,185,69,1) 100%);
  --color-body-default: #EEE;
  --color-body-primary: #000;
  --color-links-default: #EEE;
  --color-links-secondary: #000;
  --color-border-main: 2px solid var(--color-body-default, #FFF);
  --color-border-default: #000;
  --spacing-layout: 2em; }

*, *:before, *:after, ul {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font: var(--font-size-main, 14px)/1.5 "Questrial", sans-serif; }
  @media (max-width: 960px) {
    html {
      font-size: var(--font-size-big, 16px); } }
  @media (min-width: 961px) {
    html {
      font-size: var(--font-size-bigger, 18px); } }
  @media (min-width: 1024px) {
    html {
      font-size: var(--font-size-biggest, 20px); } }

body, table, form, select, option, input, textarea {
  font: inherit;
  background: var(--background-color-body-default, #EEE);
  color: var(--color-body-default, #EEE); }

.site-title,
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
  font-weight: normal;
  font-family: 'Arvo', serif; }

h1 {
  font-size: 2.6em; }

h2 {
  font-size: 2.0em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1.0em; }

a {
  text-decoration: none;
  color: var(--color-links-default, #0A0); }

p, ul, ol {
  padding-bottom: 1.5em; }

ul ul, ol ul, ul ol, ol ol {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

ol > li > ol > li {
  list-style-type: lower-roman; }

section {
  margin-top: 1em;
  padding-bottom: 2em; }

blockquote,
.jokes {
  padding: 1rem; }

blockquote .author {
  font-style: italic;
  text-align: right;
  color: var(--color-body-primary, #CCC);
  opacity: 0.5; }

blockquote .author:before {
  display: inline-block;
  content: '\2014';
  padding-right: 0.5em; }

.site-navbar li:hover,
.site-navbar a:hover {
  transition: border-color 0.2s ease-in, color 0.2s ease-in; }

.social-links a:hover {
  transition: color 0.3s ease-in; }

.button:hover {
  transition: border-color 0.3s ease-out, color 0.4s ease-out; }

blockquote:hover,
.jokes:hover {
  transition: box-shadow 0.5s ease-in-out; }

.button {
  font-weight: 600;
  padding: 0.5em 1em;
  color: #EEE;
  border: 3px solid #000;
  border-radius: 0.3em; }

.button:hover {
  color: #000;
  border-color: #CCC; }

.site {
  max-width: var(--layout-main-width);
  padding: 0 2em;
  margin: 2em auto; }
  .site-footer {
    bottom: 0;
    width: 100%; }
  @media (min-width: 1024px) {
    .site {
      padding: 0 1em; } }

.site-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: var(--color-border-main); }
  .site-header h1,
  .site-header p {
    flex-shrink: 0; }
  .site-header .navbar {
    margin-left: auto; }
  @media (max-width: 960px) {
    .site-header h1 {
      font-size: 2em; } }

.site-main {
  padding: 1.5em 0; }
  .site-main section:last-child {
    border: none; }

.page-home .print-resume-all,
.page-print .print-resume-all {
  display: none; }

section {
  padding-left: 2em;
  border-bottom: 2px solid #EEE; }

.education {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em; }
  .education li {
    list-style: none outside; }
    @media (max-width: 768px) {
      .education li {
        grid-column: span 2; } }
    .education li p {
      padding-bottom: 0.5em; }
    .education li .school:before {
      content: '\f19d';
      display: inline-block;
      font-family: 'Font Awesome 5 Free';
      margin-right: 1em;
      font-style: normal; }
    .education li .school {
      color: var(--color-body-primary, #000);
      font-weight: 700;
      border-bottom: 1px solid var(--color-links-default, #EEE);
      padding-bottom: 0.5em; }
    .education li .edu-timespan:before {
      content: '\f073';
      display: inline-block;
      font-family: 'Font Awesome 5 Free';
      font-weight: 500;
      margin-right: 1em;
      font-style: normal; }
    .education li .edu-timespan {
      font-style: italic; }
    .education li .degree:before {
      content: "Degree: ";
      font-weight: 900;
      color: var(--color-body-primary, #000); }
    .education li .technologies:before {
      content: "Techologies: ";
      font-weight: 900;
      color: var(--color-body-primary, #000); }
    .education li .notes-edu:before {
      content: "Notes: ";
      font-weight: 900;
      color: var(---color-body-primary, #000); }

.work-timeline h2 {
  padding-left: 1em; }

.timeline {
  border-left: 2px solid var(--color-border-default, #000);
  padding: 2em 0; }
  .timeline li:before {
    position: absolute;
    top: 4px;
    left: calc( -0.5em - 1px);
    display: block;
    content: '';
    width: 1em;
    height: 1em;
    background: #EEE;
    border: 2px solid var(--color-border-default, #000);
    border-radius: 50%; }
  .timeline li:nth-child(odd):before {
    background: #36B; }
  .timeline li {
    position: relative;
    list-style: none outside;
    padding-left: 2em;
    padding-bottom: 1em; }
    .timeline li p {
      padding-bottom: 0.3em; }
  .timeline .position {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--color-body-primary, #000); }
  .timeline .company {
    font-style: italic; }
  .timeline .job-description {
    font-size: 0.9em;
    color: var(--color-body-primary, #000); }
  .timeline .notes {
    font-size: 0.9em; }
  @media (min-width: 961px) {
    .timeline {
      margin: 0 10em;
      position: relative; }
      .timeline li {
        padding-bottom: 3em; }
      .timeline .timespan {
        position: absolute;
        top: -1.5em;
        left: -10em;
        display: grid;
        justify-items: end; } }

.quotes,
.quote-me {
  padding-top: 1.5em;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-gap: 1em; }
  .quotes h4,
  .quote-me h4 {
    grid-column: span 3; }
  @media (max-width: 768px) {
    .quotes,
    .quote-me {
      grid-template-columns: repeat(2, 0.5fr); }
      .quotes h4,
      .quote-me h4 {
        grid-column: span 2; } }
  @media (max-width: 640px) {
    .quotes,
    .quote-me {
      grid-template-columns: 1fr; }
      .quotes h4,
      .quote-me h4 {
        grid-column: span 1; } }
  .quotes blockquote,
  .quotes .jokes,
  .quote-me blockquote,
  .quote-me .jokes {
    border-radius: 0.3em;
    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.75); }
    .quotes blockquote:hover,
    .quotes .jokes:hover,
    .quote-me blockquote:hover,
    .quote-me .jokes:hover {
      box-shadow: 0px 0px 35px -1px rgba(0, 0, 0, 0.85); }

.contacts li {
  list-style: none outside; }

.contacts a {
  text-decoration: underline; }

.contacts a:hover {
  text-decoration: none;
  font-weight: 600;
  color: var(--color-links-secondary, #000); }

.site-footer {
  border-top: var(--color-border-main);
  padding-top: 2em;
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  align-items: center; }
  .site-footer .site-navbar {
    grid-row: span 2; }
  @media (min-width: 961px) {
    .site-footer {
      grid-template-columns: repeat(3, 1fr); } }
  .site-footer p {
    padding-bottom: 0.8em; }
  @media (max-width: 640px) {
    .site-footer p {
      grid-row: span 2; }
    .site-footer .social-links-container {
      grid-column: span 2;
      display: flex; } }

.site-navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .site-navbar.navbar-header {
    font-size: 0.8em; }
  .site-navbar.navbar-footer {
    font-size: 0.7em; }
  .site-navbar ul {
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.8em; }
  .site-navbar li {
    margin-right: auto;
    list-style: none outside;
    margin: 0.2em;
    display: flex; }
  .site-navbar a {
    font-size: 1.4em;
    border: var(--color-border-main);
    padding: 0.5em 1em; }
    @media (min-width: 961px) {
      .site-navbar a {
        font-size: 0.8em; } }
  .site-navbar a:hover,
  .site-navbar li.active-page a {
    color: var(--color-border-default);
    font-weight: 700;
    border-color: var(--color-border-default); }
  .site-navbar a:focus,
  .site-navbar li.active-page a:focus {
    color: var(--color-border-default);
    border-color: var(--color-links-default);
    outline: none; }
  @media (max-width: 640px) {
    .site-navbar {
      grid-template-columns: 1fr; } }
  .site-footer .site-navbar.navbar-footer {
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: end; }
    .site-footer .site-navbar.navbar-footer ul {
      margin: 0 auto;
      display: grid;
      justify-items: end;
      grid-row: span 1; }
    @media (min-width: 961px) {
      .site-footer .site-navbar.navbar-footer {
        justify-content: center; }
        .site-footer .site-navbar.navbar-footer ul {
          justify-items: center; } }
  .site-footer .site-navbar a,
  .site-footer .site-navbar .active-page a {
    border: 0;
    margin: 0; }

.nav-toggle {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0; }

@media (max-width: 960px) {
  .site-navbar {
    display: block; }
  .site-header {
    position: relative; }
    .site-header .site-navbar {
      display: none; }
    .site-header .nav-toggle-button {
      display: block;
      margin-left: auto; }
      .site-header .nav-toggle-button .fa-times {
        display: none; }
  .nav-toggle:checked + .site-header .fa-bars {
    display: none; }
  .nav-toggle:checked + .site-header .fa-times {
    position: absolute;
    top: 0;
    right: 0;
    display: block; }
  .nav-toggle:checked + .site-header .site-navbar {
    display: block; }
    .nav-toggle:checked + .site-header .site-navbar ul {
      display: flex; } }

@media (max-width: 768px) {
  .site-navbar ul a {
    flex: 1 1 30%; } }

.nav-toggle-button {
  font-size: 2.5em;
  display: none; }

.social-links-container .social-links {
  display: flex; }
  .social-links-container .social-links li {
    list-style: none outside;
    justify-content: space-between; }
  .social-links-container .social-links a {
    padding: 0.5em;
    font-size: 1.5em; }
    .social-links-container .social-links a:hover {
      color: #000; }
