.site-navbar {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-grow: 1;

    &.navbar-header {
        font-size: 0.8em;
    }
    
    &.navbar-footer {
        font-size: 0.7em;
    }
    
    & ul {
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0.8em;
    }
    
    & li {
        margin-right: auto;
        list-style: none outside;
        margin: 0.2em;
        display: flex;
    }
    
    & a {
        font-size: 0.8em;
        border: var(--color-border-main);
        padding: 0.5em 1em;
    }
    
    & a:hover,
    & li.active-page a {
        color: var(--color-border-default);
        font-weight: 700;
        border-color: var(--color-border-default);
    }
    
    & a:focus,
    & li.active-page a:focus {
        color: var(--color-border-default);
        border-color: var(--color-links-default);
        outline: none;
    }
    
    .site-footer & a,
    .site-footer & .active-page a {
        border: 0;
        margin: 0;
        border-right: var(--color-border-main);
    }
    
    .site-footer & li:last-child a {
        border-right: none;
    }
}