.site-navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &.navbar-header {
        font-size: 0.8em;
    }
    
    &.navbar-footer {
        font-size: 0.7em;
    }
    
    & ul {
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0.8em;
    }
    
    & li {
        margin-right: auto;
        list-style: none outside;
        margin: 0.2em;
        display: flex;
    }
    
    & a {
        font-size: 0.8em;
        border: var(--color-border-main);
        padding: 0.5em 1em;
    }
    
    & a:hover,
    & li.active-page a {
        color: var(--color-border-default);
        font-weight: 700;
        border-color: var(--color-border-default);
    }
    
    & a:focus,
    & li.active-page a:focus {
        color: var(--color-border-default);
        border-color: var(--color-links-default);
        outline: none;
    }

    @include mq( phone-large ) {
        grid-template-columns: 1fr;
        
    }

    .site-footer & {
        display: grid;
        grid-template-columns: 1fr;

        ul {
            margin: 0 auto;

            display: grid;
            grid-row: span 1;
    
            li {
                justify-content: center;
            }

        }
    }
    
    .site-footer & a,
    .site-footer & .active-page a {
        border: 0;
        margin: 0;
    }
}

.nav-toggle {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-toggle-button {
    font-size: 2.5em;
}

@include mq( mobile ) {

    // .site-navbar {
    //     display: block;
    // }

    .site-header {

        .site-navbar {
            display: none;
        }
        
        .nav-toggle {
            
            &-button {
                display: block;
                margin-left: auto;
            
                .fa-times {
                    display: none;
                }
            }
        }    
    }

    .nav-toggle:checked + .site-header {
        .fa-bars {
            display: none;
        }
        
        .fa-times {
            display: block;
        }

        .site-navbar {
            display: block;

            ul {
                display: block;
            }
        } 
    }
}

.nav-toggle-button {
    display: none;
}
