.site-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: var(--color-border-main);

    & h1,
    & p {
        flex-shrink: 0;
    }
    
    & .navbar{
        margin-left: auto;
    }

    @include mq( mobile ) {

        h1 {
            font-size: 2em;
        }
    }
}

