.social-links {
    display: flex;

    & li {
        list-style: none outside;
        justify-content: space-between;
    }

    & a {
        padding: 0.5em;
        font-size: 1.5em;

        &:hover {
            color: #000;
        }
    }
}