@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i,900,900i|Questrial&display=swap');

*, *:before, *:after, ul {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: var(--font-size-main, 14px)/1.5 "Questrial", sans-serif;

    @include mq ( mobile ) {
        font-size: var(--font-size-big, 16px);
    }

    @include mq ( tablet-landscape ) {
        font-size: var(--font-size-bigger, 18px); 
    }
    
    @include mq ( desktop ) {
        font-size: var(--font-size-biggest, 20px); 
    }
}


body, table, form, select, option, input, textarea {
    font: inherit;
    background: var(--background-color-body-default, #EEE);
    color: var(--color-body-default, #EEE);
}

.site-title,
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
    font-weight: normal;
    font-family: 'Arvo', serif;
}

h1 { font-size: 2.6em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

a {
    text-decoration: none;
    color: var(--color-links-default, #0A0);
}

p, ul, ol {
    padding-bottom: 1.5em;
}

ul ul, ol ul, ul ol, ol ol {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

ol > li > ol > li {
    list-style-type: lower-roman;
}

section {
    margin-top: 1em;
    padding-bottom: 2em;
}

blockquote {
    padding: 1rem;
}

blockquote .author {
    font-style: italic;
    text-align: right;
    opacity: 0.5;
}

blockquote .author:before {
    display: inline-block;
    content: '\2014';
    padding-right: 0.5em;
}