:root {
    --font-size-main: 16px;
    --font-size-big: calc(var(--font-size-main) + 2px);
    --font-size-bigger: calc(var(--font-size-main) + 4px);
    --font-size-biggest: calc(var(--font-size-main) + 6px);

    --layout-main-width: 50em;
    
    --background-color-body-default: linear-gradient(90deg, rgba(224,9,9,1) 0%, rgba(252,185,69,1) 100%);
    
    --color-body-default: #EEE;
    --color-body-primary: #000;
    --color-links-default: #EEE;

    --color-border-main: 2px solid var(--color-body-default, #FFF);

    --color-border-default: #000;

    --spacing-layout: 2em;
}